.galaxy h1, .galaxy h2, .galaxy h3, .galaxy h4 { color: white; font-weight: lighter; }
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.black {
    /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0; */
    padding: 1rem;
    text-align: center;
    background-color: #000;
    color: #FFFFFF;
}
.galaxy {
    display:flex;
    align-items:center;
    height:100%;
    background: url('./static/img/galaxy.jpg');
    background-size: cover;
}
.overlay {
    display:flex;
    align-items:center;
    height:100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    background-size: cover;
}
.item {
    text-align:center;
    align-items:center;
    width:100%;
}
hr { width:256px; }
a {
    text-decoration: none;
    color: white;
}